.highcharts-credits {
  display: none;
}

text {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(126, 125, 141, 1);
}

.pagination-left {
  background-color: '#E6E5FF';
  color: #040068;
}

.pagination-left:disabled {
  background-color: '#B1B0BA';
  color: #040068;
  position: absolute;
  bottom: 0;
}

.sharedTooltip{
  display: inline-block;
  width: 4px; 
  height: 12px; 
  margin-right: 5px;
  border-radius: 2px;
}

.tooltipHeader{
  font-size: 12px;
  font-family: 'Raleway';
  font-weight: 600;
  color: '#040068';
  line-height: 20px;
}

.tooltipTextBody{
  font-size: 14px;
  font-family: 'Raleway';
  color: '#040068';
  line-height: 20px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tooltipTextValue {
  font-weight: 600;
}