.rdp {
  background: white;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
}

.rdp-day_selected {
  background: rgba(112, 107, 255, 1);
  color: rgba(242, 241, 243, 1);
}

.rdp-day_range_middle {
  background: rgba(230, 229, 255, 1);
  color: rgba(4, 0, 104, 1);
}

.rdp-table {
  border-collapse: separate;
  border-spacing: 0 8px;
}